<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MVPHostsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MVPHostsUpdater.Properties.Settings>
            <setting name="MvpUrl" serializeAs="String">
                <value>http://winhelp2002.mvps.org/hosts.txt</value>
            </setting>
            <setting name="HostsRegistryPath" serializeAs="String">
                <value>SYSTEM\CurrentControlSet\Services\Tcpip\Parameters</value>
            </setting>
            <setting name="HostsRegistryKey" serializeAs="String">
                <value>DataBasePath</value>
            </setting>
        </MVPHostsUpdater.Properties.Settings>
    </userSettings>
</configuration>